name: build wheels

# Trigger on PR and only if something is tagged on branches
on:
  push:
    branches: ["*"]
    tags: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-2022, macos-14] #macos-13 could be added if x86 compatibility is needed
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
        
      # Used to host cibuildwheel
      - name: Build wheels
        uses: pypa/cibuildwheel@v2.17.0
        env:
          # Options needed for clang build with openMP
          CIBW_BEFORE_ALL_MACOS: brew install libomp
          CIBW_ENVIRONMENT_MACOS: >
              COMP_T_ON_32_BITS=1
              CXX="$(brew --prefix llvm@15)/bin/clang"
              CC="$(brew --prefix llvm@15)/bin/clang"
              CFLAGS="$CFLAGS  -I$(brew --prefix llvm@15)/include -I$(brew --prefix)/opt/libomp/include"
              LDFLAGS="$LDFLAGS -Wl,-rpath,$(brew --prefix llvm@15)/lib -L$(brew --prefix)/opt/libomp/lib"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  publish:
    name: Publish to PyPI
    needs: build_wheels
    runs-on: ubuntu-latest
    # Only publish to PyPI when a commit is tagged
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: True

      - uses: actions/setup-python@v4

      - uses: actions/download-artifact@v4
        with:
          name: wheels
          path: wheelhouse

      - name: Publish to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        # construct the source package and upload src and wheels to PiPy
        run: |
          python -m pip install twine
          python setup.py sdist 
          twine upload dist/*
          twine upload wheelhouse/*.whl